<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="Henning" serializeAs="String">
                <value />
            </setting>
            <setting name="Rikke" serializeAs="String">
                <value />
            </setting>
            <setting name="Frederik" serializeAs="String">
                <value />
            </setting>
            <setting name="Karoline" serializeAs="String">
                <value />
            </setting>
            <setting name="Michelle" serializeAs="String">
                <value />
            </setting>
            <setting name="Mogens" serializeAs="String">
                <value />
            </setting>
            <setting name="Lise" serializeAs="String">
                <value />
            </setting>
            <setting name="Kristian" serializeAs="String">
                <value />
            </setting>
            <setting name="Simon" serializeAs="String">
                <value />
            </setting>
            <setting name="Janni" serializeAs="String">
                <value />
            </setting>
            <setting name="Per" serializeAs="String">
                <value />
            </setting>
            <setting name="Maj" serializeAs="String">
                <value />
            </setting>
            <setting name="Niklas" serializeAs="String">
                <value />
            </setting>
            <setting name="Mikkel" serializeAs="String">
                <value />
            </setting>
            <setting name="Arne" serializeAs="String">
                <value />
            </setting>
            <setting name="Uddelt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HenningMail" serializeAs="String">
                <value>Henninglai@gmail.com</value>
            </setting>
            <setting name="RikkeMail" serializeAs="String">
                <value>Rila@viborg.dk
</value>
            </setting>
            <setting name="FrederikMail" serializeAs="String">
                <value>frederik-lai@outlook.com</value>
            </setting>
            <setting name="KarolineMail" serializeAs="String">
                <value>karolinela1903@hotmail.com</value>
            </setting>
            <setting name="AndreasMail" serializeAs="String">
                <value>Alaiandersen@gmail.com</value>
            </setting>
            <setting name="MogensMail" serializeAs="String">
                <value>mo.holm@live.dk</value>
            </setting>
            <setting name="LiseMail" serializeAs="String">
                <value />
            </setting>
            <setting name="KristianMail" serializeAs="String">
                <value />
            </setting>
            <setting name="SimonMail" serializeAs="String">
                <value>Bassenoir@hotmail.com</value>
            </setting>
            <setting name="JannieMail" serializeAs="String">
                <value>Janni210294@gmail.com</value>
            </setting>
            <setting name="PerMail" serializeAs="String">
                <value>pma@aaservice.dk</value>
            </setting>
            <setting name="MajMail" serializeAs="String">
                <value>Missionmaj@yahoo.dk</value>
            </setting>
            <setting name="NiklasMail" serializeAs="String">
                <value>Meldgaard0409@gmail.com</value>
            </setting>
            <setting name="MikkelMail" serializeAs="String">
                <value>Meldgaardmikkel@gmail.com</value>
            </setting>
            <setting name="ArneMail" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>